<body>
    {{>header}}

<!--Avatar -->
<img value="Profile.avatar">
<p>{{Profile.pronouns}}</p>
<h4>{{Profile.username}}</h4><!--Username -->

<h3>Ideal breakfast</h3><!--ideal breakfast -->
<article>{{profile.breakfast}}</article>

<h3>Usually wakes up at</h3><!--I usually get up at -->
<p>{{preferences.wakeuptime}}</p>

    <section>
        <form action="/home" method="POST" id="formsignup">
            <fieldset>
                <legend>Het account van {{profile.username}}</legend>
                <label for="name">Naam</label>
                <input type="text" name="name" id="name" value="{{profile.username}}">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value="{{data.email}}">
                <label for="password">Wachtwoord</label>
                <input type="password" name="password" id="password" value="{{data.password}}">
                <label for="confirm_password">Herhaal wachtwoord</label>
                <input type="password" name="confirm_password" id="confirm_password">
                <input type="submit" value="Opslaan" id="singup">
            </fieldset> 
        </form>
    </section>
</body>